<div class="h-full flex flex-col min-h-0">
  <div class="grid grid-rows-[auto_auto_1fr] bg-gray-100 text-sm text-gray-900 scroll-m-2 mr-[15px]" [ngClass]="{
      'grid-cols-[45px_repeat(1,minmax(0,1fr))]': events().length === 1,
      'grid-cols-[45px_repeat(2,minmax(0,1fr))]': events().length === 2,
      'grid-cols-[45px_repeat(3,minmax(0,1fr))]': events().length === 3,
      'grid-cols-[45px_repeat(4,minmax(0,1fr))]': events().length === 4,
      'grid-cols-[45px_repeat(5,minmax(0,1fr))]': events().length === 5,
      'grid-cols-[45px_repeat(6,minmax(0,1fr))]': events().length === 6,
      'grid-cols-[45px_repeat(7,minmax(0,1fr))]': events().length === 7,
    }">
    <!-- Row 1: Date headers -->
    <div class="sticky top-0 z-20 border-r bg-white px-2 py-2">
      <button class="rounded border border-stone-700 bg-stone-100" (click)="switchView()">
        @if (view() === 'Agenda') {
        <img src="assets/view_agenda.svg" class="h-8 w-8" />
        } @else if (view() === 'Day') {
        <img src="assets/view_day.svg" class="h-8 w-8" />
        }
      </button>
    </div>
    @for (event of events(); track $index) {
    <div class="sticky top-0 z-20 border-r bg-white px-2 py-2">
      <div class="text-2xl font-bold" [ngClass]="{
            'text-amber-600': isToday(event.day),
            'text-stone-500': !isToday(event.day),
          }">
        {{ event.day | date: 'dd' }}
      </div>
      <div class="text-xs text-stone-500">
        {{ event.day | date: 'EEEE' }}
      </div>
    </div>
    }

    <!-- All-day events -->
    <div class="sticky top-16 z-20 border-r border-t-4 border-stone-500 bg-gray-50 px-2 py-1 text-xs"></div>
    @for (event of events(); track $index) {
    <div class="sticky top-16 z-20 border-r bg-gray-50 px-1 py-1 border-t-4 border-stone-500">
      @for (event of event.allDay; track event.id) {
      <div class="rounded border border-blue-300 bg-blue-100 px-2 py-1" [ngClass]="{
              'border-emerald-600 bg-emerald-300': event.myType === 'Familie',
              'border-fuchsia-600 bg-fuchsia-300': event.myType === 'Sarah',
              'border-sky-600 bg-sky-300': event.myType === 'Lena',
            }">
        <span class="text-s wrap-break-word text-stone-900"> {{ event.subject }}</span>
      </div>
      }
    </div>
    }
  </div>

  <!-- Events -->
  <div #container class="flex-1 overflow-y-scroll">
    @if (view() === 'Agenda') {
    <app-agenda-view class="col-span-3" [events]="events()" />
    } @else {
    <app-day-view [events]="events()" />
    }
  </div>
</div>
