@if (layout.mobile$()) {
  <div class="flex w-full flex-col items-center bg-gray-200 p-s">
    <div class="drop-shadow-2x rounded-md bg-white p-4">
      @for (camera of cameras; track camera) {
        <app-video [camera]="camera" [quality]="'high'" />
      }
    </div>
  </div>
} @else {
  <div class="flex h-full flex-row gap-2 bg-gray-200 p-l">
    <div class="h-full w-[280px] overflow-auto rounded-md bg-white p-4 drop-shadow-2xl">
      <div class="flex h-full flex-col items-center">
        @for (camera of cameras; track camera) {
          <div>
            <app-video [camera]="camera" (click)="pinned.set(camera)" />
          </div>
        }
      </div>
    </div>
    <div class="h-full w-[calc(100%-280px-32px)] overflow-auto rounded-md bg-white p-4 drop-shadow-2xl">
      <app-video [camera]="pinned()" [quality]="'high'" />
    </div>
  </div>
}
