<div class="flex justify-center space-x-4xl text-navigation-element">
  @for (item of dashboard.entries(); track item) {
    <button class="flex flex-row items-center rounded-lg p-3 hover:bg-navigation-hover hover:text-white" [routerLink]="item.route">
      @if (item.icon.endsWith('svg')) {
        <img src="assets/{{ item.icon }}" class="h-xl w-xl" />
      } @else {
        <span class="material-symbols-rounded text-4xl!">{{ item.icon }}</span>
      }
      <span class="ml-3 text-3xl">{{ item.title }}</span>
    </button>
  }
</div>
