@import 'tailwindcss';

@theme {
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 80px;

  --color-navigation: #111827;
  --color-secondary: #9ca3af;
  --color-secondary-2: #d6deeb;
  --color-primary: #f59e0b;
  --color-primary-2: #f9b94a;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: AtkinsonHyperlegible, ui-sans-serif, system-ui, sans-serif;
}

/**
* Material Design CDK
*/
.tw-dialog-panel {
  @apply flex items-center justify-center p-4 transition-opacity duration-200;
}

.tw-dialog-backdrop {
  @apply bg-gray-900/40 backdrop-blur-md;
}

.cdk-overlay-backdrop-showing.tw-dialog-backdrop {
  @apply opacity-90;
}

/**
* Custom Animations
*/
@layer utilities {
  @keyframes move-left-right-down {
    15% {
      transform: translateX(-40px) translateY(0);
    }
    30% {
      transform: translateX(40px) translateY(0);
    }
    45% {
      transform: translateX(-30px) translateY(0);
    }
    60% {
      transform: translateX(30px) translateY(0);
    }
    75% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(40px);
      opacity: 0;
    }
  }
  .animate-slide-and-fade {
    animation: move-left-right-down 1.8s ease-in-out forwards;
  }
}
