@import 'tailwindcss';

@theme {
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 80px;

  --color-navigation-bar: #111827;
  --color-navigation-element: #9ca3af;
  --color-navigation-hover: #f59e0b;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('./fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: AtkinsonHyperlegible, ui-sans-serif, system-ui, sans-serif;
}
